<div>
	<h2>Common Error Messages</h2>
	<p>
		This section provides troubleshooting information on some of the most common error message
		shown in Dynamo.
	</p>

	<p>General error messages:</p>
	<ul>
		<li><a href="#/CommonErrorMessages/General/RunCompletedWithWarningsMessage">Run completed with warnings</a></li>
		<li><a href="#/CommonErrorMessages/General/NothingIsSelectedWarning">Nothing is selected</a></li>
		<li><a href="#/CommonErrorMessages/General/CustomNodeNotLoaded">Custom node not loaded</a></li>
		<li><a href="#/CommonErrorMessages/General/Deprecated">Deprecated method or node</a></li>
	</ul>
	<br />

	<p>Input error messages:</p>
	<ul>
		<li><a href="#/CommonErrorMessages/Input/NonOverloadMethodResolutionError">Expects argument type(s), but was called with</a></li>
		<li><a href="#/CommonErrorMessages/Input/kMethodHasInvalidArguments">Has some invalid arguments</a></li>
		<li><a href="#/CommonErrorMessages/Input/ArgumentNullException">Value cannot be null</a></li>
		<li><a href="#/CommonErrorMessages/Input/DereferencingNonPointer">Dereferencing non-pointer</a></li>
	</ul>
	<br />

	<p>Script error messages:</p>
	<ul>
		<li><a href="#/CommonErrorMessages/Script/OperationFailType1">Operation failed</a></li>
		<li><a href="#/CommonErrorMessages/Script/kMethodNotFound">Method not found</a></li>
		<li><a href="#/CommonErrorMessages/Script/UnhandledException">Unhandled exception</a></li>
		<li><a href="#/CommonErrorMessages/Script/UnhandledExceptionInDynamoEngine">Unhandled exception in Dynamo engine</a></li>
		<li><a href="#/CommonErrorMessages/Script/kMultipleSymbolFound">Multiple definitions found</a></li>
		<li><a href="#/CommonErrorMessages/Script/kCyclicDependency">A cyclic dependency exists between two variables</a></li>
		<li><a href="#/CommonErrorMessages/Script/kPropertyOfClassNotFound">No property could be found</a></li>
		<li><a href="#/CommonErrorMessages/Script/FailedToCastFromNull">Null value cannot be cast to type</a></li>
	</ul>
	<br />

	<p>List error messages:</p>
	<ul>
		<li><a href="#/CommonErrorMessages/List/kIndexOutOfRange">Index is out of range</a></li>
		<li><a href="#/CommonErrorMessages/List/kArrayOverIndexed">The index is outside the given range</a></li>
		<li><a href="#/CommonErrorMessages/List/InvalidArrayIndexType">List indices must be numeric</a></li>
		<li><a href="#/CommonErrorMessages/List/InvalidKeysLenghtErrorMessage">Number of items does not match the number of keys</a></li>
		<li><a href="#/CommonErrorMessages/List/kConvertArrayToNonArray">Converting array would cause array rank reduction</a></li>
	</ul>
	<br />

	<p>ImportExport error messages:</p>
	<ul>
		<li><a href="#/CommonErrorMessages/ImportExport/MessageErrorOpeningFileGeneral">Error opening file</a></li>
		<li><a href="#/CommonErrorMessages/ImportExport/MessageFailedToOpenCorruptedFile">Error opening corrupted file</a></li>
	</ul>
	<br />

	<p>Geometry error messages:</p>
	<ul>
		<li><a href="#/CommonErrorMessages/Geometry/errorLibGCorePolycurveMoreThanOneWIRE">Curve join produced more than one WIRE in Polycurve</a></li>
		<li><a href="#/CommonErrorMessages/Geometry/errorLibGCorePolycurveBranching">Polycurves may (not) be branching</a></li>
		<li><a href="#/CommonErrorMessages/Geometry/errorLibGCoreUnableToLoft">Unable to loft</a></li>
		<li><a href="#/CommonErrorMessages/Geometry/errorLibGCoreCannotMakePolycurveFromEmptyList">Cannot make Polycurve from empty list</a></li>
		<li><a href="#/CommonErrorMessages/Geometry/errorLibGCoreUnableUpdateSolidBySweep">Unable to update solid by sweep</a></li>
	</ul>
	<br />

	<p>Office error messages:</p>
	<ul>
		<li><a href="#/CommonErrorMessages/Office/ExcelNotInstalled">Excel not installed</a></li>
	</ul>
	<br />


</div>