<div>
    <section id="deprecatedmethod">

    <h2>Deprecated method or node</h2>

    <p> This warning message means that the authors of Dynamo want to remove this method or node in the future and you should try to use different methods or nodes to achieve the same functionality. This warning is a way of notifying Dynamo users that the method will be remove in the future, without removing it straight away, so that they have time to update their models.</p>

    <h4>How to fix</h4>

    Try using different methods or nodes to achieve the same functionality. This error message is commonly followed by suggestions of what non-deprecated methods to use instead.

    <h4>More information</h4>

    <p>To find out more, please check <a href="https://forum.dynamobim.com/search?q=deprecated"><span> posts on the Dynamobim forum </span></a> discussing "<strong>deprecated</strong>".</p>

    </section>
</div>