
<div>
    <section id="excelnotinstalled">
        <h2>Excel Not Installed</h2>
        <p>
            <var>Excel Not Installed</var> indicates that Dynamo was unable to locate Excel on your machine. 
            This warning is typically thrown when using the Excel nodes in Dynamo.
        </p>

        <h2>How To Fix</h2>
        <p>
            To resolve this error make sure that Excel is installed on your machine.
            If you do not have access to Excel form your machine there are a 
            nunmber of other methods you can use to export data from Dynamo, 
            e.g you could use the <a href="https://forum.dynamobim.com/search?q=Data.ExportCSV">
            <span style="text-decoration: underline;">Data.ExportCSV</span></a> node which will save your 
            data to a comma-separated values (csv) file.
            A .csv file can easily be opend in Excel if needed.            
        </p>

        <h4>More Information</h4>

        <p>To find out more, please check <a href="https://forum.dynamobim.com/search?q=Excel%20is%20not%20installed"><span style="text-decoration: underline;">posts on the Dynamobim forum</span></a> discussing "<strong>operation failed</strong>".</p>

    </section>
</div>