
<div>
    <section id="arrayRankReductionNotPermitted">
        <h2>Array Rank Reduction Not Permitted</h2>
        <p>
            <var>Converting an array to {variable??} would cause array rank reduction and is not permitted</var>.
            Array rank reduction happens when the node you are trying to use cannot handle
            inputs of lists with varying depth.
            
        </p>

        <h2>How To Fix</h2>
        <p>
           
        </p>

        <h4>More Information</h4>

        <p>To find out more, please check <a href="https://forum.dynamobim.com/search?q=array%20rank%20reduction"><span style="text-decoration: underline;">posts on the Dynamobim forum</span></a> discussing "<strong>operation failed</strong>".</p>

    </section>
</div>