<div>

	<section id="unhandledexception">
    <h2>Unhandled Exception</h2>

    <p> This error message typically means that there is a bug in Dynamo code which is causing Dynamo to crash. This is not necessarily related to your code and submitting a bug report can help Dynamo developers fix these issues in a later release.
    </p>

    <h4>How to fix</h4>

    Saving your work, restarting Dynamo and re-loading your file can help you recover from these errors. In addition, you can try updating Dynamo and the Dynamo libraries you are using on your computer to their latest versions, which might already include fixes for the issues you are facing 

    <h4>More information</h4>

    <p>To find out more, please check <a href="https://forum.dynamobim.com/search?q=unhandled%20exception"><span>posts on the Dynamobim forum</span></a> discussing "<strong>unhandled exception</strong>".</p>
    </section>

</div>